---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import { Image, getImage } from "astro:assets";
import { authors } from "@/data/authors";
import Pagetitle from "@/components/pagetitle.astro";
import Link from "@/components/ui/link.astro";
import { SITE_CONFIG } from "@/site.config";


---

<Layout title="Giới thiệu" description={`Tìm hiểu thêm về đội ngũ phía sau ${SITE_CONFIG.siteName}.`}>
  <Container>
    <Pagetitle>
      <Fragment slot="title">Giới thiệu</Fragment>
      <Fragment slot="desc">Chúng tôi là một đội ngũ nhỏ đầy đam mê.</Fragment>
    </Pagetitle>

    <div class="flex flex-wrap justify-center gap-10 mx-auto max-w-5xl mt-12">
      {
        authors.slice(0, 3).map((item) => (
          <div class="group w-full md:w-72 lg:w-80">
            <div class="w-full aspect-video">
              <Image
                src={item.image as any}
                format="avif"
                loading="eager"
                fetchpriority="high"
                width={580}
                height={326}
                alt={`Ảnh chân dung của thành viên ${item.name} từ đội ngũ ${SITE_CONFIG.siteName}`}
                class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h3 class="text-sm text-light-foreground/70 dark:text-dark-foreground/70">
                {" "}
                {item.name}
              </h3>
            </div>
          </div>
        ))
      }
    </div>

    <div class="mx-auto max-w-2xl text-center mt-14">
      <p class="text-lg leading-relaxed text-light-foreground/70 dark:text-dark-foreground/70">
        Chúng tôi là một đội ngũ đa văn hóa từ khắp nơi trên thế giới! Chúng tôi đến từ những nền tảng đa dạng, mang theo những tính cách, kinh nghiệm và kỹ năng khác nhau vào công việc. Đó là điều làm cho đội ngũ của chúng tôi trở nên đặc biệt.
      </p>
      <div class="mt-8">
        <Link href="/lien-he" style="primary">Liên hệ ngay</Link>
      </div>
    </div>
  </Container>
</Layout>
