---
import Container from "./container.astro";
import { SITE_CONFIG } from "@/site.config";
---

<Container class="mt-10 border-t border-light-surface dark:border-dark-surface">
  <footer class="flex flex-col items-center">
    <div class="text-sm text-center">
      Bản quyền © {new Date().getFullYear()}
      {SITE_CONFIG.siteName}. Mọi quyền được bảo lưu.
    </div>
    <div
      class="flex justify-center gap-1 mt-1 text-sm text-center text-light-foreground/70 dark:text-dark-foreground/70">
      <span>
        Tạo bởi{" "}
        <a href={SITE_CONFIG.social.website} rel="noopener" target="_blank">
          sangphamv
        </a>
      </span>
      <span>&middot;</span>
      <span>
        <a href={SITE_CONFIG.social.github} rel="noopener" target="_blank">
          Github
        </a>
      </span>
    </div>
  </footer>
</Container>
