---
const { page } = Astro.props;
---

{(page.url.prev || page.url.next) && (
  <div class="flex items-center justify-center mt-16 space-x-8">
    {page.url.prev ? (
      <a href={page.url.prev} class="text-sm font-medium text-gray-700 dark:text-dark-foreground/70 hover:text-light-foreground dark:hover:text-dark-foreground transition-colors">
        &larr; Trang trước
      </a>
    ) : (
      <span aria-disabled="true" class="text-sm font-medium text-light-foreground/50 dark:text-gray-600 cursor-not-allowed">
        &larr; Trang trước
      </span>
    )}
    
    <span class="text-sm text-light-foreground/70 dark:text-dark-foreground/70 font-medium">
      {page.currentPage} / {page.lastPage}
    </span>
    
    {page.url.next ? (
      <a href={page.url.next} class="text-sm font-medium text-gray-700 dark:text-dark-foreground/70 hover:text-light-foreground dark:hover:text-dark-foreground transition-colors">
        Trang sau &rarr;
      </a>
    ) : (
      <span aria-disabled="true" class="text-sm font-medium text-light-foreground/50 dark:text-gray-600 cursor-not-allowed">
        Trang sau &rarr;
      </span>
    )}
  </div>
)}
