---
import { Icon } from "astro-icon/components";
---

<button
  id="theme-toggle"
  aria-label="Toggle Theme"
  class="relative flex items-center justify-center w-10 h-10 text-light-foreground/70 rounded-md hover:text-light-accent dark:hover:text-dark-accent dark:text-dark-foreground/70 dark:hover:text-dark-accent transition-colors">
  <Icon name="heroicons:sun" class="absolute w-6 h-6 transition-all duration-300 ease-in-out scale-0 -rotate-90 dark:scale-100 dark:rotate-0" />
  <Icon name="heroicons:moon" class="absolute w-6 h-6 transition-all duration-300 ease-in-out scale-100 rotate-0 dark:scale-0 dark:rotate-90" />
</button>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const themeToggle = document.getElementById('theme-toggle');
    if (themeToggle) {
      themeToggle.addEventListener('click', () => {
        document.documentElement.classList.add('theme-transition');
        
        // Buộc trình duyệt tính toán lại layout (reflow) để đảm bảo transition hoạt động đúng
        void document.documentElement.offsetWidth;

        if (document.documentElement.classList.contains('dark')) {
          document.documentElement.classList.remove('dark');
          localStorage.setItem('theme', 'light');
        } else {
          document.documentElement.classList.add('dark');
          localStorage.setItem('theme', 'dark');
        }

        window.setTimeout(() => {
          document.documentElement.classList.remove('theme-transition');
        }, 350);
      });
    }
  });
</script>
