---
interface Props {
  size?: "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted";
  class?: string;
  [x: string]: any;
}

const {
  size = "md",
  style = "primary",
  block,
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  md: "px-5 py-2.5",
  lg: "px-6 py-3",
};

const styles = {
  outline: "border-2 border-light-accent dark:border-dark-accent hover:bg-light-accent/90 dark:hover:bg-dark-accent/90 text-light-accent dark:text-dark-accent hover:text-light-background dark:hover:text-dark-background dark:border-dark-accent dark:text-dark-accent dark:hover:bg-dark-accent/90 dark:hover:text-dark-background",
  primary:
    "bg-light-accent dark:bg-dark-accent text-white text-[19px] font-bold hover:bg-light-accent/90 dark:hover:bg-dark-accent/90 border-2 border-transparent dark:text-dark-background",
};
---

<button
  {...rest}
  class:list={[
    "rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</button>
