---
interface Props {
  href: string;
  size?: "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted" | "muted";
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: "px-5 py-2.5",
  md: "px-4 py-2",
};

const styles = {
  outline: "border-2 border-light-accent hover:bg-light-surface/30 text-light-foreground dark:border-dark-surface dark:text-dark-foreground dark:hover:bg-dark-surface/50",
  primary: "bg-light-accent dark:bg-dark-accent text-white dark:text-dark-background hover:bg-light-accent/90 dark:hover:bg-dark-accent/90 border-2 border-transparent",
  inverted: "bg-light-background text-black   border-2 border-transparent",
  muted: "bg-light-surface/30 hover:bg-light-surface/50 border-2 border-transparent dark:bg-dark-surface/50 dark:hover:bg-dark-surface/70",
};
---

<a
  href={href}
  {...rest}
  class:list={[
    "rounded text-center  transition focus-visible:ring-2 ring-offset-2 ring-gray-200",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</a>
